<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mtb_card.name %>
</p>

<p>
  <b>Jname:</b>
  <%= @mtb_card.jname %>
</p>

<p>
  <b>Text:</b>
  <%= @mtb_card.text %>
</p>

<p>
  <b>Cost:</b>
  <%= @mtb_card.cost %>
</p>

<p>
  <b>Need pot:</b>
  <%= @mtb_card.need_pot %>
</p>

<p>
  <b>Coin:</b>
  <%= @mtb_card.coin %>
</p>

<p>
  <b>Victory:</b>
  <%= @mtb_card.victory %>
</p>

<p>
  <b>Card:</b>
  <%= @mtb_card.card %>
</p>

<p>
  <b>Action:</b>
  <%= @mtb_card.action %>
</p>

<p>
  <b>Buy:</b>
  <%= @mtb_card.buy %>
</p>

<p>
  <b>Virtual coin:</b>
  <%= @mtb_card.virtual_coin %>
</p>

<p>
  <b>Vitory token:</b>
  <%= @mtb_card.vitory_token %>
</p>


<%= link_to 'Edit', edit_mtb_card_path(@mtb_card) %> |
<%= link_to 'Back', mtb_cards_path %>
