<p id="notice"><%= notice %></p>

<p>
  <b>Mtb card:</b>
  <%= @mtb_among_card_expantion.mtb_card_id %>
</p>

<p>
  <b>Mtb expantion:</b>
  <%= @mtb_among_card_expantion.mtb_expantion_id %>
</p>

<p>
  <b>Override name:</b>
  <%= @mtb_among_card_expantion.override_name %>
</p>

<p>
  <b>Override text:</b>
  <%= @mtb_among_card_expantion.override_text %>
</p>


<%= link_to 'Edit', edit_mtb_among_card_expantion_path(@mtb_among_card_expantion) %> |
<%= link_to 'Back', mtb_among_card_expantions_path %>
