<h1>Listing mtb_card_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mtb_card_types.each do |mtb_card_type| %>
  <tr>
    <td><%= mtb_card_type.name %></td>
    <td><%= link_to 'Show', mtb_card_type %></td>
    <td><%= link_to 'Edit', edit_mtb_card_type_path(mtb_card_type) %></td>
    <td><%= link_to 'Destroy', mtb_card_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mtb card type', new_mtb_card_type_path %>
