<h1>Listing mtb_publishers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mtb_publishers.each do |mtb_publisher| %>
  <tr>
    <td><%= mtb_publisher.name %></td>
    <td><%= link_to 'Show', mtb_publisher %></td>
    <td><%= link_to 'Edit', edit_mtb_publisher_path(mtb_publisher) %></td>
    <td><%= link_to 'Destroy', mtb_publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mtb publisher', new_mtb_publisher_path %>
